@charset "UTF-8";

@font-face {
    font-family: "AzureDevOpsMDL2Assets";
    src: url("./AzDevMDL2.woff") format("woff")
}

i[class^="ms-"], i[class*=" ms-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: "AzureDevOpsMDL2Assets" !important;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
  
.ms-AADLogo:before { content: "\ed68 "; }
.ms-Accept:before { content: "\e8fb "; }
.ms-AccessLogo:before { content: "\ed69 "; }
.ms-AccountManagement:before { content: "\f55c "; }
.ms-Accounts:before { content: "\e910 "; }
.ms-ActivateOrders:before { content: "\efe0 "; }
.ms-ActivityFeed:before { content: "\f056 "; }
.ms-Add:before { content: "\e710 "; }
.ms-AddFriend:before { content: "\e8fa "; }
.ms-AddGroup:before { content: "\ee3d "; }
.ms-AddReaction:before { content: "\f85d "; }
.ms-AddTo:before { content: "\ecc8 "; }
.ms-Airplane:before { content: "\e709 "; }
.ms-AirplaneSolid:before { content: "\eb4c "; }
.ms-AlertSolid:before { content: "\f331 "; }
.ms-AlignJustify:before { content: "\f51e "; }
.ms-AnalyticsView:before { content: "\f5f1 "; }
.ms-ApacheMavenLogo:before { content: "\f65f "; }
.ms-AppIconDefault:before { content: "\ecaa "; }
.ms-ArrowDownRightMirrored8:before { content: "\eef0 "; }
.ms-ArrowTallUpRight:before { content: "\f2be "; }
.ms-ArrowUpRight8:before { content: "\eed4 "; }
.ms-Ascending:before { content: "\edc0 "; }
.ms-Assign:before { content: "\e9d3 "; }
.ms-AsteriskSolid:before { content: "\f34d "; }
.ms-Attach:before { content: "\e723 "; }
.ms-AuthenticatorApp:before { content: "\f6b1 "; }
.ms-AutoFillTemplate:before { content: "\f313 "; }
.ms-AwayStatus:before { content: "\ee6a "; }
.ms-AzureKeyVault:before { content: "\f3b4 "; }
.ms-AzureLogo:before { content: "\eb6a "; }
.ms-Back:before { content: "\e72b "; }
.ms-Backlog:before { content: "\f2ac "; }
.ms-BacklogBoard:before { content: "\f444 "; }
.ms-BacklogList:before { content: "\f6bf "; }
.ms-BackToWindow:before { content: "\e73f "; }
.ms-BankSolid:before { content: "\f34f "; }
.ms-BitbucketLogo32:before { content: "\f5d2 "; }
.ms-BlockContact:before { content: "\e8f8 "; }
.ms-Blocked:before { content: "\e733 "; }
.ms-Blocked2:before { content: "\ece4 "; }
.ms-Blocked2Solid:before { content: "\f737 "; }
.ms-BlockedSite:before { content: "\e72f "; }
.ms-BlockedSolid:before { content: "\f531 "; }
.ms-Bold:before { content: "\e8dd "; }
.ms-BranchCommit:before { content: "\f293 "; }
.ms-BranchCompare:before { content: "\f294 "; }
.ms-BranchFork2:before { content: "\f291 "; }
.ms-BranchMerge:before { content: "\f295 "; }
.ms-BranchPullRequest:before { content: "\f296 "; }
.ms-BranchShelveset:before { content: "\f298 "; }
.ms-BugWarning:before { content: "\e357 "; }
.ms-Build:before { content: "\f28f "; }
.ms-BuildQueue:before { content: "\f24f "; }
.ms-BuildQueueNew:before { content: "\f250 "; }
.ms-BulletedList:before { content: "\e8fd "; }
.ms-BulletedListBullet:before { content: "\f793 "; }
.ms-BulletedListText:before { content: "\f792 "; }
.ms-ButtonControl:before { content: "\f6c0 "; }
.ms-CalculatorAddition:before { content: "\e948 "; }
.ms-Calendar:before { content: "\e787 "; }
.ms-Camera:before { content: "\e722 "; }
.ms-Cancel:before { content: "\e711 "; }
.ms-CannedChat:before { content: "\f0f2 "; }
.ms-Car:before { content: "\e804 "; }
.ms-CaretSolidDown:before { content: "\f08e "; }
.ms-Certificate:before { content: "\eb95 "; }
.ms-Chart:before { content: "\e999 "; }
.ms-ChartSeries:before { content: "\f513 "; }
.ms-Chat:before { content: "\e901 "; }
.ms-ChatInviteFriend:before { content: "\ecfe "; }
.ms-CheckboxComposite:before { content: "\e73a "; }
.ms-CheckboxCompositeReversed:before { content: "\e73d "; }
.ms-CheckList:before { content: "\e9d5 "; }
.ms-CheckListCheck:before { content: "\f7a9 "; }
.ms-CheckListText:before { content: "\f7a8 "; }
.ms-CheckMark:before { content: "\e73e "; }
.ms-ChevronDown:before { content: "\e70d "; }
.ms-ChevronDownMed:before { content: "\e972 "; }
.ms-ChevronDownSmall:before { content: "\e96e "; }
.ms-ChevronFold10:before { content: "\f36a "; }
.ms-ChevronLeft:before { content: "\e76b "; }
.ms-ChevronLeftMed:before { content: "\e973 "; }
.ms-ChevronLeftSmall:before { content: "\e96f "; }
.ms-ChevronRight:before { content: "\e76c "; }
.ms-ChevronRightMed:before { content: "\e974 "; }
.ms-ChevronRightSmall:before { content: "\e970 "; }
.ms-ChevronUnfold10:before { content: "\f369 "; }
.ms-ChevronUp:before { content: "\e70e "; }
.ms-ChevronUpMed:before { content: "\e971 "; }
.ms-ChevronUpSmall:before { content: "\e96d "; }
.ms-ChromeClose:before { content: "\e8bb "; }
.ms-CircleFill:before { content: "\ea3b "; }
.ms-CirclePause:before { content: "\f2d9 "; }
.ms-CirclePauseSolid:before { content: "\f2d8 "; }
.ms-CirclePlus:before { content: "\eaee "; }
.ms-CircleRing:before { content: "\ea3a "; }
.ms-CircleShapeSolid:before { content: "\f63c "; }
.ms-CircleStop:before { content: "\f2dc "; }
.ms-CircleStopSolid:before { content: "\f2db "; }
.ms-CityNext:before { content: "\ec06 "; }
.ms-Clear:before { content: "\e894 "; }
.ms-ClearFilter:before { content: "\ef8f "; }
.ms-ClearFormatting:before { content: "\eddd "; }
.ms-ClearFormattingA:before { content: "\f79d "; }
.ms-ClearFormattingEraser:before { content: "\f79e "; }
.ms-Clicked:before { content: "\f268 "; }
.ms-ClipboardSolid:before { content: "\f5dc "; }
.ms-Clock:before { content: "\e917 "; }
.ms-CloneToDesktop:before { content: "\f28c "; }
.ms-ClosePane:before { content: "\e89f "; }
.ms-CloudDownload:before { content: "\ebd3 "; }
.ms-CloudUpload:before { content: "\ec8e "; }
.ms-CloudWeather:before { content: "\e9be "; }
.ms-Cloudy:before { content: "\e9bf "; }
.ms-Code:before { content: "\e943 "; }
.ms-CoffeeScript:before { content: "\f2fa "; }
.ms-CollegeFootball:before { content: "\eb26 "; }
.ms-Color:before { content: "\e790 "; }
.ms-ColorSolid:before { content: "\f354 "; }
.ms-Comment:before { content: "\e90a "; }
.ms-CommentAdd:before { content: "\f2b3 "; }
.ms-Completed:before { content: "\e930 "; }
.ms-CompletedSolid:before { content: "\ec61 "; }
.ms-Configuration:before { content: "\f01e "; }
.ms-ConnectContacts:before { content: "\efd4 "; }
.ms-ConstructionConeSolid:before { content: "\f339 "; }
.ms-Contact:before { content: "\e77b "; }
.ms-ContactCard:before { content: "\eebd "; }
.ms-ContactInfo:before { content: "\e779 "; }
.ms-Copy:before { content: "\e8c8 "; }
.ms-CPlusPlusLanguage:before { content: "\f2f3 "; }
.ms-CPU:before { content: "\eea1 "; }
.ms-CRMCustomerInsightsApp:before { content: "\f3c8 "; }
.ms-CrownSolid:before { content: "\f336 "; }
.ms-CSharpLanguage:before { content: "\f2ef "; }
.ms-CSharpLanguage:before { content: "\f2ef "; }
.ms-CustomList:before { content: "\eebe "; }
.ms-DashKey:before { content: "\e9ae "; }
.ms-Database:before { content: "\efc7 "; }
.ms-DateTime2:before { content: "\ea17 "; }
.ms-DecisionSolid:before { content: "\f350 "; }
.ms-DecreaseIndentArrow:before { content: "\f7a3 "; }
.ms-DecreaseIndentLegacy:before { content: "\e290 "; }
.ms-DecreaseIndentText:before { content: "\f7a2 "; }
.ms-DefectSolid:before { content: "\f449 "; }
.ms-Delete:before { content: "\e74d "; }
.ms-Deploy:before { content: "\f29d "; }
.ms-Descending:before { content: "\edc1 "; }
.ms-Diagnostic:before { content: "\e9d9 "; }
.ms-Diamond2Solid:before { content: "\ea0a "; }
.ms-DiamondSolid:before { content: "\f34c "; }
.ms-Dictionary:before { content: "\e82d "; }
.ms-DictionaryRemove:before { content: "\f69a "; }
.ms-DiffInline:before { content: "\f309 "; }
.ms-DiffSideBySide:before { content: "\f30a "; }
.ms-DockRight:before { content: "\e90d "; }
.ms-Documentation:before { content: "\ec17 "; }
.ms-DocumentSearch:before { content: "\ef6c "; }
.ms-DocumentSet:before { content: "\eed6 "; }
.ms-DoubleChevronDown:before { content: "\ee04 "; }
.ms-DoubleChevronLeft:before { content: "\edbe "; }
.ms-DoubleChevronRight:before { content: "\edbf "; }
.ms-DoubleChevronUp:before { content: "\edbd "; }
.ms-Down:before { content: "\e74b "; }
.ms-Download:before { content: "\e896 "; }
.ms-DownloadDocument:before { content: "\f549 "; }
.ms-Dynamics365Logo:before { content: "\edcc "; }
.ms-EatDrink:before { content: "\e807 "; }
.ms-Edit:before { content: "\e70f "; }
.ms-EditNote:before { content: "\ed9d "; }
.ms-EditStyle:before { content: "\ef60 "; }
.ms-Embed:before { content: "\ecce "; }
.ms-EMI:before { content: "\e731 "; }
.ms-Emoji:before { content: "\e899 "; }
.ms-Emoji2:before { content: "\e76e "; }
.ms-EngineeringGroup:before { content: "\f362 "; }
.ms-EntryView:before { content: "\f554 "; }
.ms-Equalizer:before { content: "\e9e9 "; }
.ms-Error:before { content: "\e783 "; }
.ms-ErrorBadge:before { content: "\ea39 "; }
.ms-ExcelDocument:before { content: "\ef73 "; }
.ms-ExcelLogo:before { content: "\f1e5 "; }
.ms-ExploreContent:before { content: "\eccd "; }
.ms-ExploreData:before { content: "\f5b6 "; }
.ms-Export:before { content: "\ede1 "; }
.ms-ExportMirrored:before { content: "\ede2 "; }
.ms-ExternalGit:before { content: "\f665 "; }
.ms-FabricFolder:before { content: "\f0a9 "; }
.ms-FabricFolderFill:before { content: "\f0aa "; }
.ms-FabricNewFolder:before { content: "\f0ab "; }
.ms-FabricTextHighlight:before { content: "\f79c "; }
.ms-FabricTextHighlightComposite:before { content: "\f7da "; }
.ms-FangBody:before { content: "\eceb "; }
.ms-FavoriteList:before { content: "\e728 "; }
.ms-FavoriteStar:before { content: "\e734 "; }
.ms-FavoriteStarFill:before { content: "\e735 "; }
.ms-Feedback:before { content: "\ed15 "; }
.ms-FeedbackRequestSolid:before { content: "\f359 "; }
.ms-FeedbackResponseSolid:before { content: "\f35b "; }
.ms-FileASPX:before { content: "\f2e9 "; }
.ms-FileBug:before { content: "\f30d "; }
.ms-FileCode:before { content: "\f30e "; }
.ms-FileCSS:before { content: "\f2ea "; }
.ms-FileHTML:before { content: "\f2ed "; }
.ms-FileImage:before { content: "\f311 "; }
.ms-FileJAVA:before { content: "\f2e8 "; }
.ms-FileLess:before { content: "\f2ec "; }
.ms-FilePDB:before { content: "\f2e5 "; }
.ms-FileSass:before { content: "\f2eb "; }
.ms-FileSass:before { content: "\f2eb "; }
.ms-FileSQL:before { content: "\f2e7 "; }
.ms-FileTemplate:before { content: "\f2e6 "; }
.ms-FileTypeSolution:before { content: "\f387 "; }
.ms-FileYML:before { content: "\f5da "; }
.ms-FileYML:before { content: "\f5da "; }
.ms-Filter:before { content: "\e71c "; }
.ms-FilterSolid:before { content: "\f412 "; }
.ms-FiltersSolid:before { content: "\f353 "; }
.ms-FinancialSolid:before { content: "\f346 "; }
.ms-Flag:before { content: "\e7c1 "; }
.ms-FlameSolid:before { content: "\f1f3 "; }
.ms-Flashlight:before { content: "\e754 "; }
.ms-FlowChart:before { content: "\e9d4 "; }
.ms-Folder:before { content: "\e8b7 "; }
.ms-FolderHorizontal:before { content: "\f12b "; }
.ms-FolderList:before { content: "\f2ce "; }
.ms-FolderQuery:before { content: "\f2cd "; }
.ms-FontColor:before { content: "\e8d3 "; }
.ms-FontColorA:before { content: "\f4ec "; }
.ms-FontColorSwatch:before { content: "\f4ed "; }
.ms-FontSize:before { content: "\e8e9 "; }
.ms-Forward:before { content: "\e72a "; }
.ms-FSharpLanguage:before { content: "\f2f5 "; }
.ms-FullHistory:before { content: "\f31c "; }
.ms-FullScreen:before { content: "\e740 "; }
.ms-Giftbox:before { content: "\ec1f "; }
.ms-GiftboxOpen:before { content: "\f133 "; }
.ms-GiftBoxSolid:before { content: "\f341 "; }
.ms-GitFork:before { content: "\f661 "; }
.ms-GitGraph:before { content: "\f2ca "; }
.ms-GitHubLogo:before { content: "\f65e "; }
.ms-GitLogo:before { content: "\f65d "; }
.ms-GlobalNavButton:before { content: "\e700 "; }
.ms-Globe:before { content: "\e774 "; }
.ms-GradleLogo32:before { content: "\f5d4 "; }
.ms-GridViewSmall:before { content: "\f232 "; }
.ms-GripperDotsVertical:before { content: "\f772 "; }
.ms-GripperResize:before { content: "\e788 "; }
.ms-Group:before { content: "\e902 "; }
.ms-HeadsetSolid:before { content: "\f348 "; }
.ms-Heart:before { content: "\eb51 "; }
.ms-HeartFill:before { content: "\eb52 "; }
.ms-Help:before { content: "\e897 "; }
.ms-Hide2:before { content: "\ef89 "; }
.ms-History:before { content: "\e81c "; }
.ms-Home:before { content: "\e80f "; }
.ms-ImageDiff:before { content: "\f30b "; }
.ms-Import:before { content: "\e8b5 "; }
.ms-Inbox:before { content: "\f41c "; }
.ms-IncidentTriangle:before { content: "\e814 "; }
.ms-IncreaseIndentArrow:before { content: "\f7a1 "; }
.ms-IncreaseIndentLegacy:before { content: "\e291 "; }
.ms-IncreaseIndentText:before { content: "\f7a0 "; }
.ms-Info:before { content: "\e946 "; }
.ms-InfoSolid:before { content: "\f167 "; }
.ms-Insights:before { content: "\e3af "; }
.ms-IssueSolid:before { content: "\f448 "; }
.ms-Italic:before { content: "\e8db "; }
.ms-JavaScriptLanguage:before { content: "\f2ee "; }
.ms-JenkinsLogo:before { content: "\f663 "; }
.ms-KeyboardClassic:before { content: "\e765 "; }
.ms-LadybugSolid:before { content: "\f44a "; }
.ms-LaptopSecure:before { content: "\f552 "; }
.ms-Library:before { content: "\e8f1 "; }
.ms-Lifesaver:before { content: "\ef62 "; }
.ms-Lightbulb:before { content: "\ea80 "; }
.ms-LightningBolt:before { content: "\e945 "; }
.ms-Like:before { content: "\e8e1 "; }
.ms-LikeSolid:before { content: "\f3bf "; }
.ms-Link:before { content: "\e71b "; }
.ms-List:before { content: "\ea37 "; }
.ms-LocationDot:before { content: "\e827 "; }
.ms-Lock:before { content: "\e72e "; }
.ms-LockSolid:before { content: "\e9a2 "; }
.ms-Mail:before { content: "\e715 "; }
.ms-MarkDownLanguage:before { content: "\f2fb "; }
.ms-MediaStorageTower:before { content: "\e965 "; }
.ms-Megaphone:before { content: "\e789 "; }
.ms-MegaphoneSolid:before { content: "\f332 "; }
.ms-MicrosoftLogo:before { content: "\ec6a "; }
.ms-MiniExpand:before { content: "\e93a "; }
.ms-More:before { content: "\e712 "; }
.ms-MoreVertical:before { content: "\f2bc "; }
.ms-MSNVideos:before { content: "\eb1c "; }
.ms-MSNVideosSolid:before { content: "\f2da "; }
.ms-MultiSelect:before { content: "\e762 "; }
.ms-MusicInCollectionFill:before { content: "\ea36 "; }
.ms-MyMoviesTV:before { content: "\ee6c "; }
.ms-NavigateExternalInline:before { content: "\f35f "; }
.ms-NavigateForward:before { content: "\f2df "; }
.ms-Next:before { content: "\e893 "; }
.ms-NotExecuted:before { content: "\f440 "; }
.ms-NotImpactedSolid:before { content: "\f441 "; }
.ms-NPMLogo:before { content: "\f660 "; }
.ms-NugetLogo:before { content: "\f44c "; }
.ms-NumberedList:before { content: "\ea1c "; }
.ms-NumberedListNumber:before { content: "\f797 "; }
.ms-NumberedListText:before { content: "\f796 "; }
.ms-NumberSymbol:before { content: "\f7ac "; }
.ms-OEM:before { content: "\e74c "; }
.ms-OfficeLogo:before { content: "\eb6e "; }
.ms-OfflineOneDriveParachute:before { content: "\eec8 "; }
.ms-OfflineOneDriveParachuteDisabled:before { content: "\eec9 "; }
.ms-OfflineStorageSolid:before { content: "\f34e "; }
.ms-OneNoteLogo:before { content: "\f1e7 "; }
.ms-OpenInNewTab:before { content: "\f6ab "; }
.ms-OpenPane:before { content: "\e8a0 "; }
.ms-OpenSource:before { content: "\ebc2 "; }
.ms-Org:before { content: "\eca6 "; }
.ms-OutlookLogo:before { content: "\f1e9 "; }
.ms-Package:before { content: "\e7b8 "; }
.ms-Page:before { content: "\e7c3 "; }
.ms-PageAdd:before { content: "\ea1a "; }
.ms-PageArrowRight:before { content: "\efb8 "; }
.ms-PageEdit:before { content: "\efb6 "; }
.ms-PageListSolid:before { content: "\f33a "; }
.ms-ParachuteSolid:before { content: "\f352 "; }
.ms-ParkingSolid:before { content: "\f34a "; }
.ms-PartyLeader:before { content: "\eca7 "; }
.ms-Paste:before { content: "\e77f "; }
.ms-PasteAsCode:before { content: "\f5d6 "; }
.ms-Pause:before { content: "\e769 "; }
.ms-PaymentCard:before { content: "\e8c7 "; }
.ms-PC1:before { content: "\e977 "; }
.ms-PDF:before { content: "\ea90 "; }
.ms-People:before { content: "\e716 "; }
.ms-PeopleAdd:before { content: "\ea15 "; }
.ms-PeopleSettings:before { content: "\f72c "; }
.ms-Permissions:before { content: "\e8d7 "; }
.ms-PermissionsSolid:before { content: "\f349 "; }
.ms-Phone:before { content: "\e717 "; }
.ms-Photo2:before { content: "\eb9f "; }
.ms-Photo2Fill:before { content: "\f79f "; }
.ms-Pin:before { content: "\e718 "; }
.ms-Pinned:before { content: "\e840 "; }
.ms-PlanView:before { content: "\f360 "; }
.ms-Play:before { content: "\e768 "; }
.ms-PlayerSettings:before { content: "\ef58 "; }
.ms-PlayResume:before { content: "\f2c6 "; }
.ms-PlugConnected:before { content: "\f302 "; }
.ms-PlugDisconnected:before { content: "\f303 "; }
.ms-POI:before { content: "\ecaf "; }
.ms-PowerBILogo:before { content: "\ea1e "; }
.ms-PowerPointDocument:before { content: "\ef72 "; }
.ms-PowerPointLogo:before { content: "\f1eb "; }
.ms-PowerShell:before { content: "\f1fd "; }
.ms-Preview:before { content: "\e8ff "; }
.ms-PreviewLink:before { content: "\e8a1 "; }
.ms-Previous:before { content: "\e892 "; }
.ms-Print:before { content: "\e749 "; }
.ms-Processing:before { content: "\e9f5 "; }
.ms-Product:before { content: "\ecdc "; }
.ms-ProFootball:before { content: "\eb27 "; }
.ms-ProgressLoopOuter:before { content: "\ecdf "; }
.ms-ProgressRingDots:before { content: "\f16a "; }
.ms-Project:before { content: "\ebc6 "; }
.ms-ProjectCollection:before { content: "\f363 "; }
.ms-ProjectLogo32:before { content: "\f47e "; }
.ms-PublishContent:before { content: "\f0d4 "; }
.ms-Puzzle:before { content: "\ea86 "; }
.ms-PythonLanguage:before { content: "\f2f8 "; }
.ms-PythonLogoBlue:before { content: "\f84d "; }
.ms-PythonLogoYellow:before { content: "\f84e "; }
.ms-QuadColumn:before { content: "\f66f "; }
.ms-QueryList:before { content: "\f2b8 "; }
.ms-QuickNoteSolid:before { content: "\f338 "; }
.ms-RadioBtnOff:before { content: "\ecca "; }
.ms-RadioBtnOn:before { content: "\eccb "; }
.ms-RawSource:before { content: "\f299 "; }
.ms-ReadingMode:before { content: "\e736 "; }
.ms-ReadingModeSolid:before { content: "\f33d "; }
.ms-ReceiptCheck:before { content: "\ef5b "; }
.ms-Recent:before { content: "\e823 "; }
.ms-RedEye:before { content: "\e7b3 "; }
.ms-Refresh:before { content: "\e72c "; }
.ms-ReleaseGate:before { content: "\f7be "; }
.ms-ReleaseGateCheck:before { content: "\f7bf "; }
.ms-ReleaseGateError:before { content: "\f7c0 "; }
.ms-Remove:before { content: "\e738 "; }
.ms-RemoveLink:before { content: "\ed90 "; }
.ms-RemoveLinkChain:before { content: "\f79a "; }
.ms-RemoveLinkX:before { content: "\f79b "; }
.ms-Rename:before { content: "\e8ac "; }
.ms-Repair:before { content: "\e90f "; }
.ms-Reply:before { content: "\e97a "; }
.ms-ReplyMirrored:before { content: "\ee35 "; }
.ms-Repo:before { content: "\f2cb "; }
.ms-ReportHacked:before { content: "\e730 "; }
.ms-ReviewRequestSolid:before { content: "\f356 "; }
.ms-ReviewResponseSolid:before { content: "\f358 "; }
.ms-ReviewSolid:before { content: "\f355 "; }
.ms-RevToggleKey:before { content: "\e845 "; }
.ms-Rewind:before { content: "\eb9e "; }
.ms-Ribbon:before { content: "\e9d1 "; }
.ms-RibbonSolid:before { content: "\f345 "; }
.ms-Ringer:before { content: "\ea8f "; }
.ms-RingerOff:before { content: "\f2c5 "; }
.ms-Rocket:before { content: "\f3b3 "; }
.ms-RowsChild:before { content: "\f29c "; }
.ms-RowsGroup:before { content: "\f29b "; }
.ms-RubyGemsLogo:before { content: "\f850 "; }
.ms-RustLanguageLogo:before { content: "\f84f "; }
.ms-Sad:before { content: "\e757 "; }
.ms-Save:before { content: "\e74e "; }
.ms-SaveAll:before { content: "\f203 "; }
.ms-SaveAs:before { content: "\e792 "; }
.ms-ScheduleEventAction:before { content: "\f1ef "; }
.ms-Script:before { content: "\f03a "; }
.ms-ScrollUpDown:before { content: "\ec8f "; }
.ms-Search:before { content: "\e721 "; }
.ms-SearchAndApps:before { content: "\e773 "; }
.ms-SecurityGroup:before { content: "\ed85 "; }
.ms-SemanticZoom:before { content: "\e833 "; }
.ms-SemiboldWeight:before { content: "\f4f0 "; }
.ms-Send:before { content: "\e724 "; }
.ms-Server:before { content: "\f201 "; }
.ms-ServerEnviroment:before { content: "\f29f "; }
.ms-ServerProcesses:before { content: "\f1fe "; }
.ms-Settings:before { content: "\e713 "; }
.ms-SettingsApp:before { content: "\f0ff "; }
.ms-Share:before { content: "\e72d "; }
.ms-Shield:before { content: "\ea18 "; }
.ms-ShieldSolid:before { content: "\f340 "; }
.ms-Shop:before { content: "\e719 "; }
.ms-ShoppingCart:before { content: "\e7bf "; }
.ms-ShopServer:before { content: "\f2b6 "; }
.ms-ShowResults:before { content: "\e8bc "; }
.ms-Signin:before { content: "\f286 "; }
.ms-SkypeCircleCheck:before { content: "\ef7d "; }
.ms-SkypeCircleMinus:before { content: "\ef7f "; }
.ms-SkypeCircleSlash:before { content: "\f825 "; }
.ms-SkypeLogo:before { content: "\eb6f "; }
.ms-SkypeMinus:before { content: "\ef82 "; }
.ms-Snowflake:before { content: "\eb46 "; }
.ms-Soccer:before { content: "\eb21 "; }
.ms-SortDown:before { content: "\ee69 "; }
.ms-SortLines:before { content: "\e9d0 "; }
.ms-SortUp:before { content: "\ee68 "; }
.ms-Sprint:before { content: "\f3b0 "; }
.ms-StackedBarChart:before { content: "\f24d "; }
.ms-StackedLineChart:before { content: "\f24e "; }
.ms-Starburst:before { content: "\ef78 "; }
.ms-StarburstSolid:before { content: "\f33c "; }
.ms-StatusCircleCheckmark:before { content: "\f13e "; }
.ms-StatusCircleErrorX:before { content: "\f13d "; }
.ms-StatusCircleInner:before { content: "\f137 "; }
.ms-StatusCircleRing:before { content: "\f138 "; }
.ms-StatusErrorFull:before { content: "\eb90 "; }
.ms-StockDown:before { content: "\eb0f "; }
.ms-StockUp:before { content: "\eb11 "; }
.ms-Stopwatch:before { content: "\e916 "; }
.ms-Streaming:before { content: "\e93e "; }
.ms-StreamingOff:before { content: "\f2bb "; }
.ms-Strikethrough:before { content: "\ede0 "; }
.ms-SurveyQuestions:before { content: "\f01b "; }
.ms-SVNLogo:before { content: "\f662 "; }
.ms-Switch:before { content: "\e8ab "; }
.ms-SwitcherStartEnd:before { content: "\e810 "; }
.ms-Table:before { content: "\ed86 "; }
.ms-Tag:before { content: "\e8ec "; }
.ms-TaskGroup:before { content: "\f2ae "; }
.ms-TaskSolid:before { content: "\f333 "; }
.ms-TeamFavorite:before { content: "\f2ad "; }
.ms-Teamwork:before { content: "\ea12 "; }
.ms-TestAutoSolid:before { content: "\f3a8 "; }
.ms-TestBeaker:before { content: "\f3a5 "; }
.ms-TestBeakerSolid:before { content: "\f3a6 "; }
.ms-TestCase:before { content: "\f3af "; }
.ms-TestParameter:before { content: "\f3ad "; }
.ms-TestPlan:before { content: "\f3ab "; }
.ms-TestStep:before { content: "\f3ac "; }
.ms-TestSuite:before { content: "\f3ae "; }
.ms-TextDocument:before { content: "\f029 "; }
.ms-TextField:before { content: "\edc3 "; }
.ms-TFVCLogo:before { content: "\f44d "; }
.ms-Tiles:before { content: "\eca5 "; }
.ms-TimeEntry:before { content: "\ef95 "; }
.ms-Trending12:before { content: "\f62d "; }
.ms-TriangleRight12:before { content: "\eed3 "; }
.ms-TriangleSolidDown12:before { content: "\eecd "; }
.ms-TriangleSolidRight12:before { content: "\eecf "; }
.ms-TriangleSolidUp12:before { content: "\eecc "; }
.ms-TriggerApproval:before { content: "\f3b2 "; }
.ms-TriggerAuto:before { content: "\f24a "; }
.ms-TriggerUser:before { content: "\f24b "; }
.ms-TripleColumnEdit:before { content: "\f323 "; }
.ms-Trophy2Solid:before { content: "\f337 "; }
.ms-TwoKeys:before { content: "\f229 "; }
.ms-TypeScriptLanguage:before { content: "\f2f7 "; }
.ms-Underline:before { content: "\e8dc "; }
.ms-Undo:before { content: "\e7a7 "; }
.ms-UngroupList:before { content: "\e61c "; }
.ms-Unknown:before { content: "\e9ce "; }
.ms-Unlock:before { content: "\e785 "; }
.ms-UnlockSolid:before { content: "\f304 "; }
.ms-Unpin:before { content: "\e77a "; }
.ms-Up:before { content: "\e74a "; }
.ms-Upload:before { content: "\e898 "; }
.ms-UserFollowed:before { content: "\f25c "; }
.ms-UserGauge:before { content: "\f6ed "; }
.ms-UserRemove:before { content: "\f69b "; }
.ms-Variable:before { content: "\f305 "; }
.ms-VerifiedBrand:before { content: "\f7bd "; }
.ms-VerifiedBrandSolid:before { content: "\f6ad "; }
.ms-Video:before { content: "\e714 "; }
.ms-View:before { content: "\e890 "; }
.ms-ViewAll:before { content: "\e8a9 "; }
.ms-ViewAll2:before { content: "\ef56 "; }
.ms-ViewDashboard:before { content: "\f246 "; }
.ms-ViewList:before { content: "\f247 "; }
.ms-ViewListGroup:before { content: "\f248 "; }
.ms-ViewListTree:before { content: "\f249 "; }
.ms-VisioLogo:before { content: "\f2a7 "; }
.ms-VisualBasicLanguage:before { content: "\f2f1 "; }
.ms-VisualStudioLogo:before { content: "\ec22 "; }
.ms-VSTSLogo:before { content: "\f381 "; }
.ms-Waffle:before { content: "\ed89 "; }
.ms-WaffleOffice365:before { content: "\f4e0 "; }
.ms-WaitlistConfirm:before { content: "\f550 "; }
.ms-Warning:before { content: "\e7ba "; }
.ms-WindowsLogo:before { content: "\e782 "; }
.ms-WordDocument:before { content: "\ef71 "; }
.ms-WordLogo:before { content: "\f1e3 "; }
.ms-Work:before { content: "\e821 "; }
.ms-WorkFlow:before { content: "\ea01 "; }
.ms-WorkItem:before { content: "\f314 "; }
.ms-World:before { content: "\e909 "; }
.ms-WorldClock:before { content: "\e918 "; }
.ms-YammerLogo:before { content: "\ed19 "; }
.ms-ZipFolder:before { content: "\f012 "; }
.ms-Zoom:before { content: "\e71e "; }
.ms-ZoomIn:before { content: "\e8a3 "; }
.ms-ZoomOut:before { content: "\e71f "; }

@font-face {
    font-family: "FluentIconsFilled";
    src: url("./fluent-filled-v1.1.201.woff2") format("woff2")
}

i[class^="mff-"], i[class*=" mff-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: "FluentIconsFilled" !important;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.mff-AirplaneSolid:before { content: "\f10f "; }
.mff-AlertSolid:before { content: "\f3ef "; }
.mff-AsteriskSolid:before { content: "\f7bb "; }
.mff-AwayStatus:before { content: "\f2dc "; }
.mff-BankSolid:before { content: "\e220 "; }
.mff-Blocked2Solid:before { content: "\f7bf "; }
.mff-BlockedSolid:before { content: "\f70e "; }
.mff-CaretSolidDown:before { content: "\f260 "; }
.mff-CheckboxCompositeReversed:before { content: "\f27c "; }
.mff-CircleFill:before { content: "\f2ba "; }
.mff-CirclePauseSolid:before { content: "\f6c5 "; }
.mff-CircleShapeSolid:before { content: "\f2ba "; }
.mff-CircleStopSolid:before { content: "\f771 "; }
.mff-ClipboardSolid:before { content: "\e342 "; }
.mff-ColorSolid:before { content: "\e3d1 "; }
.mff-CompletedSolid:before { content: "\f297 "; }
.mff-ConstructionConeSolid:before { content: "\ea39 "; }
.mff-CrownSolid:before { content: "\f06e "; }
.mff-DecisionSolid:before { content: "\f0185 "; }
.mff-Diamond2Solid:before { content: "\e4c6 "; }
.mff-DiamondSolid:before { content: "\f61c "; }
.mff-FabricFolderFill:before { content: "\e650 "; }
.mff-FavoriteStarFill:before { content: "\f717 "; }
.mff-FeedbackRequestSolid:before { content: "\f220 "; }
.mff-FiltersSolid:before { content: "\f59b "; }
.mff-FinancialSolid:before { content: "\e11c "; }
.mff-FlameSolid:before { content: "\ef68 "; }
.mff-GiftBoxSolid:before { content: "\e6a8 "; }
.mff-HeadsetSolid:before { content: "\e703 "; }
.mff-HeartFill:before { content: "\f47c "; }
.mff-IncidentTriangle:before { content: "\f880 "; }
.mff-InfoSolid:before { content: "\f4a9 "; }
.mff-IssueSolid:before { content: "\f0bc "; }
.mff-LikeSolid:before { content: "\ed78 "; }
.mff-LockSolid:before { content: "\e79c "; }
.mff-MegaphoneSolid:before { content: "\f540 "; }
.mff-MSNVideosSolid:before { content: "\e9a5 "; }
.mff-MusicInCollectionFill:before { content: "\e861 "; }
.mff-NotImpactedSolid:before { content: "\f0186 "; }
.mff-OfflineStorageSolid:before { content: "\f0d8 "; }
.mff-PageListSolid:before { content: "\f0018 "; }
.mff-ParkingSolid:before { content: "\f7e6 "; }
.mff-PermissionsSolid:before { content: "\e74e "; }
.mff-QuickNoteSolid:before { content: "\f66d "; }
.mff-RadioBtnOn:before { content: "\f153 "; }
.mff-ReadingModeSolid:before { content: "\f665 "; }
.mff-ReviewSolid:before { content: "\f8c1 "; }
.mff-RibbonSolid:before { content: "\ea2e "; }
.mff-ShieldSolid:before { content: "\eacc "; }
.mff-StarburstSolid:before { content: "\f283 "; }
.mff-StatusCircleInner:before { content: "\f2ba "; }
.mff-StatusErrorFull:before { content: "\f36c "; }
.mff-StockDown:before { content: "\edaa "; }
.mff-StockUp:before { content: "\eda5 "; }
.mff-TaskSolid:before { content: "\f0bf "; }
.mff-TestBeakerSolid:before { content: "\f1d6 "; }
.mff-TriangleSolidDown12:before { content: "\eda9 "; }
.mff-TriangleSolidRight12:before { content: "\edb3 "; }
.mff-TriangleSolidUp12:before { content: "\eda4 "; }
.mff-Trophy2Solid:before { content: "\f84d "; }
.mff-UnlockSolid:before { content: "\e7a2 "; }
.mff-VerifiedBrandSolid:before { content: "\f283 "; }

@font-face {
    font-family: "FluentIconsRegular";
    src: url("./fluent-regular-v1.1.201.woff2") format("woff2")
}

i[class^="mfr-"], i[class*=" mfr-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: "FluentIconsRegular" !important;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.mfr-AccountManagement:before { content: "\e920 "; }
.mfr-Accounts:before { content: "\f53b "; }
.mfr-ActivateOrders:before { content: "\f011c "; }
.mfr-ActivityFeed:before { content: "\f8a9 "; }
.mfr-Add:before { content: "\f108 "; }
.mfr-AddFriend:before { content: "\e921 "; }
.mfr-AddGroup:before { content: "\e911 "; }
.mfr-AddReaction:before { content: "\e5c7 "; }
.mfr-Airplane:before { content: "\f10f "; }
.mfr-AlignJustify:before { content: "\f79d "; }
.mfr-AnalyticsView:before { content: "\ee95 "; }
.mfr-AppIconDefault:before { content: "\f132 "; }
.mfr-ArrowDownRightMirrored8:before { content: "\f8d1 "; }
.mfr-ArrowTallUpRight:before { content: "\f8eb "; }
.mfr-Ascending:before { content: "\ed5a "; }
.mfr-Assign:before { content: "\e344 "; }
.mfr-Attach:before { content: "\f1a8 "; }
.mfr-Back:before { content: "\f184 "; }
.mfr-Backlog:before { content: "\f018c "; }
.mfr-BacklogList:before { content: "\f0197 "; }
.mfr-BackToWindow:before { content: "\f164 "; }
.mfr-BlockContact:before { content: "\e942 "; }
.mfr-Blocked:before { content: "\f618 "; }
.mfr-Blocked2:before { content: "\f7a7 "; }
.mfr-BlockedSite:before { content: "\eacc "; }
.mfr-Bold:before { content: "\ecd2 "; }
.mfr-BranchCompare:before { content: "\e1da "; }
.mfr-BranchFork2:before { content: "\e1dd "; }
.mfr-BranchMerge:before { content: "\e1dd "; }
.mfr-BranchPullRequest:before { content: "\e1e4 "; }
.mfr-BuildQueue:before { content: "\f78d "; }
.mfr-BuildQueueNew:before:before { content: "\f0144 "; }
.mfr-BulletedList:before { content: "\ecd8 "; }
.mfr-Calendar:before { content: "\e24d "; }
.mfr-Camera:before { content: "\e299 "; }
.mfr-Cancel:before { content: "\f368 "; }
.mfr-CannedChat:before { content: "\e2e4 "; }
.mfr-Car:before { content: "\f847 "; }
.mfr-Certificate:before { content: "\e539 "; }
.mfr-Chart:before { content: "\e45c "; }
.mfr-ChartSeries:before { content: "\f0174 "; }
.mfr-Chat:before { content: "\e2e4 "; }
.mfr-ChatInviteFriend:before { content: "\ef51 "; }
.mfr-CheckboxComposite:before { content: "\f27c "; }
.mfr-CheckList:before { content: "\ec92 "; }
.mfr-CheckMark:before { content: "\e305 "; }
.mfr-ChevronDown:before { content: "\f2a2 "; }
.mfr-ChevronFold10:before { content: "\f016b "; }
.mfr-ChevronLeft:before { content: "\f2a9 "; }
.mfr-ChevronRight:before { content: "\f2af "; }
.mfr-ChevronUnfold10:before { content: "\e32e "; }
.mfr-ChevronUp:before { content: "\f2b5 "; }
.mfr-ChromeClose:before { content: "\f368 "; }
.mfr-CirclePause:before { content: "\f6bc "; }
.mfr-CirclePlus:before { content: "\e005 "; }
.mfr-CircleRing:before { content: "\f2ba "; }
.mfr-CircleStop:before { content: "\f759 "; }
.mfr-CityNext:before { content: "\f2c1 "; }
.mfr-Clear:before { content: "\f368 "; }
.mfr-ClearFilter:before { content: "\e60c "; }
.mfr-ClearFormatting:before { content: "\ecf3 "; }
.mfr-Clicked:before { content: "\e445 "; }
.mfr-Clock:before { content: "\f2dc "; }
.mfr-CloneToDesktop:before { content: "\f0117 "; }
.mfr-ClosePane:before { content: "\e8c1 "; }
.mfr-CloudDownload:before { content: "\e38c "; }
.mfr-CloudUpload:before { content: "\e392 "; }
.mfr-CloudWeather:before { content: "\e382 "; }
.mfr-Cloudy:before { content: "\f86e "; }
.mfr-Code:before { content: "\f44f "; }
.mfr-CoffeeScript:before { content: "\e585 "; }
.mfr-CollegeFootball:before { content: "\eb68 "; }
.mfr-Color:before { content: "\e3bc "; }
.mfr-Comment:before { content: "\f2fe "; }
.mfr-CommentAdd:before { content: "\e3d7 "; }
.mfr-Completed:before { content: "\f297 "; }
.mfr-Configuration:before { content: "\f422 "; }
.mfr-Contact:before { content: "\f5bc "; }
.mfr-ContactCard:before { content: "\f362 "; }
.mfr-ContactInfo:before { content: "\f6d6 "; }
.mfr-Copy:before { content: "\f32a "; }
.mfr-CPU:before { content: "\f0d9 "; }
.mfr-CSharpLanguage:before { content: "\f0c5 "; }
.mfr-CustomList:before { content: "\f01ad "; }
.mfr-DashKey:before { content: "\ebcf "; }
.mfr-Database:before { content: "\f0d7 "; }
.mfr-DateTime2:before { content: "\e243 "; }
.mfr-Delete:before { content: "\e47b "; }
.mfr-Descending:before { content: "\ed5c "; }
.mfr-Diagnostic:before { content: "\e9e0 "; }
.mfr-Dictionary:before { content: "\f8fd "; }
.mfr-DictionaryRemove:before { content: "\f0165 "; }
.mfr-DiffInline:before { content: "\f016e "; }
.mfr-DiffSideBySide:before { content: "\e3cb "; }
.mfr-DockRight:before { content: "\e8bc "; }
.mfr-Documentation:before { content: "\e51f "; }
.mfr-DocumentSearch:before { content: "\e541 "; }
.mfr-DocumentSet:before { content: "\f0022 "; }
.mfr-DoubleChevronDown:before { content: "\f284 "; }
.mfr-DoubleChevronLeft:before { content: "\f285 "; }
.mfr-DoubleChevronRight:before { content: "\f2a7 "; }
.mfr-DoubleChevronUp:before { content: "\e32c "; }
.mfr-Down:before { content: "\f147 "; }
.mfr-Download:before { content: "\f14f "; }
.mfr-DownloadDocument:before { content: "\e4df "; }
.mfr-EatDrink:before { content: "\e666 "; }
.mfr-Edit:before { content: "\f3dc "; }
.mfr-EditNote:before { content: "\e86e "; }
.mfr-EditStyle:before { content: "\f7d9 "; }
.mfr-Embed:before { content: "\f339 "; }
.mfr-EMI:before { content: "\e20a "; }
.mfr-Emoji:before { content: "\e5d1 "; }
.mfr-Emoji2:before { content: "\f3df "; }
.mfr-EntryView:before { content: "\e876 "; }
.mfr-Equalizer:before { content: "\f586 "; }
.mfr-Error:before { content: "\f3f0 "; }
.mfr-ErrorBadge:before { content: "\f36c "; }
.mfr-ExploreContent:before { content: "\e008 "; }
.mfr-ExploreData:before { content: "\e45f "; }
.mfr-Export:before { content: "\e0c6 "; }
.mfr-ExportMirrored:before { content: "\e0c9 "; }
.mfr-FabricFolder:before { content: "\e643 "; }
.mfr-FabricNewFolder:before { content: "\e645 "; }
.mfr-FabricTextHighlightComposite:before { content: "\ecf5 "; }
.mfr-FangBody:before { content: "\e04f "; }
.mfr-FavoriteList:before { content: "\ebb1 "; }
.mfr-FavoriteStar:before { content: "\f70e "; }
.mfr-Feedback:before { content: "\e930 "; }
.mfr-FileBug:before { content: "\f38a "; }
.mfr-FileCSS:before { content: "\f0dc "; }
.mfr-FileHTML:before { content: "\e4f3 "; }
.mfr-FileImage:before { content: "\f0175 "; }
.mfr-FileJAVA:before { content: "\f0177 "; }
.mfr-FilePDB:before { content: "\f2e5 "; }
.mfr-FileSass:before { content: "\f017d "; }
.mfr-FileTemplate:before { content: "\e543 "; }
.mfr-FileYML:before { content: "\f017f "; }
.mfr-Filter:before { content: "\e60a "; }
.mfr-FilterSolid:before { content: "\e60a "; }
.mfr-Flag:before { content: "\f40a "; }
.mfr-Flashlight:before { content: "\e628 "; }
.mfr-FlowChart:before { content: "\e638 "; }
.mfr-Folder:before { content: "\e643 "; }
.mfr-FolderHorizontal:before { content: "\e643 "; }
.mfr-FolderList:before { content: "\f0128 "; }
.mfr-FolderQuery:before { content: "\f425 "; }
.mfr-FontColor:before { content: "\ecf5 "; }
.mfr-FontColorA:before { content: "\ecf5 "; }
.mfr-FontSize:before { content: "\ed10 "; }
.mfr-Forward:before { content: "\e0eb "; }
.mfr-FSharpLanguage:before { content: "\f0c7 "; }
.mfr-FullScreen:before { content: "\f15e "; }
.mfr-Giftbox:before { content: "\e69b "; }
.mfr-GlobalNavButton:before { content: "\e85f "; }
.mfr-Globe:before { content: "\e6b1 "; }
.mfr-GridViewSmall:before { content: "\ebf4 "; }
.mfr-GripperDotsVertical:before { content: "\e9f7 "; }
.mfr-Group:before { content: "\f5b7 "; }
.mfr-Heart:before { content: "\f478 "; }
.mfr-Help:before { content: "\f637 "; }
.mfr-Hide2:before { content: "\e5f4 "; }
.mfr-History:before { content: "\e705 "; }
.mfr-Home:before { content: "\e70f "; }
.mfr-Import:before { content: "\f159 "; }
.mfr-Inbox:before { content: "\f513 "; }
.mfr-Info:before { content: "\f4a2 "; }
.mfr-Insights:before { content: "\f4d9 "; }
.mfr-Italic:before { content: "\ed36 "; }
.mfr-JavaScriptLanguage:before { content: "\f0d0 "; }
.mfr-KeyboardClassic:before { content: "\e74a "; }
.mfr-LaptopSecure:before { content: "\f018f "; }
.mfr-Library:before { content: "\e761 "; }
.mfr-Lightbulb:before { content: "\f4d5 "; }
.mfr-LightningBolt:before { content: "\e617 "; }
.mfr-Like:before { content: "\ed78 "; }
.mfr-Link:before { content: "\f4e3 "; }
.mfr-List:before { content: "\e779 "; }
.mfr-LocationDot:before { content: "\e33e "; }
.mfr-Lock:before { content: "\e78e "; }
.mfr-Mail:before { content: "\e7a1 "; }
.mfr-MarkDownLanguage:before { content: "\e7db "; }
.mfr-MediaStorageTower:before { content: "\f1dd "; }
.mfr-Megaphone:before { content: "\f536 "; }
.mfr-MiniExpand:before { content: "\f44f "; }
.mfr-More:before { content: "\e823 "; }
.mfr-MoreVertical:before { content: "\e829 "; }
.mfr-MSNVideos:before { content: "\e993 "; }
.mfr-MultiSelect:before { content: "\e84b "; }
.mfr-MyMoviesTV:before { content: "\e82b "; }
.mfr-NavigateExternalInline:before { content: "\f581 "; }
.mfr-NavigateForward:before { content: "\e09a "; }
.mfr-Next:before { content: "\f568 "; }
.mfr-NotExecuted:before { content: "\f0172 "; }
.mfr-NumberedList:before { content: "\ed3a "; }
.mfr-NumberSymbol:before { content: "\f57c "; }
.mfr-OEM:before { content: "\f132 "; }
.mfr-OpenInNewTab:before { content: "\f581 "; }
.mfr-OpenPane:before { content: "\e8c4 "; }
.mfr-OpenSource:before { content: "\e1dd "; }
.mfr-Org:before { content: "\e89b "; }
.mfr-Page:before { content: "\e4d7 "; }
.mfr-PageAdd:before { content: "\e4da "; }
.mfr-PageArrowRight:before { content: "\e4e6 "; }
.mfr-PageEdit:before { content: "\f385 "; }
.mfr-PartyLeader:before { content: "\eca7 "; }
.mfr-Paste:before { content: "\e35a "; }
.mfr-PasteAsCode:before { content: "\f2cb "; }
.mfr-Pause:before { content: "\f5a0 "; }
.mfr-PaymentCard:before { content: "\e8d4 "; }
.mfr-PC1:before { content: "\f358 "; }
.mfr-PDF:before { content: "\f3ab "; }
.mfr-People:before { content: "\f5a7 "; }
.mfr-PeopleAdd:before { content: "\f5ab "; }
.mfr-PeopleSettings:before { content: "\f5b6 "; }
.mfr-Permissions:before { content: "\e740 "; }
.mfr-Phone:before { content: "\e26f "; }
.mfr-Photo2:before { content: "\ef61 "; }
.mfr-Pin:before { content: "\f600 "; }
.mfr-PlanView:before { content: "\e24d "; }
.mfr-Play:before { content: "\e990 "; }
.mfr-PlayerSettings:before { content: "\e945 "; }
.mfr-PlayResume:before { content: "\ee1a "; }
.mfr-PlugConnected:before { content: "\e999 "; }
.mfr-PlugDisconnected:before { content: "\f609 "; }
.mfr-POI:before { content: "\f4f7 "; }
.mfr-PreviewLink:before { content: "\f624 "; }
.mfr-Previous:before { content: "\f627 "; }
.mfr-Print:before { content: "\f6fa "; }
.mfr-Processing:before { content: "\f013c "; }
.mfr-Product:before { content: "\e1ba "; }
.mfr-ProFootball:before { content: "\eb68 "; }
.mfr-ProgressLoopOuter:before { content: "\f0110 "; }
.mfr-Project:before { content: "\eaba "; }
.mfr-ProjectCollection:before { content: "\f0e7 "; }
.mfr-PublishContent:before { content: "\e0cb "; }
.mfr-Puzzle:before { content: "\e9e8 "; }
.mfr-PythonLanguage:before { content: "\f0cb "; }
.mfr-QueryList:before { content: "\f012c "; }
.mfr-RadioBtnOff:before { content: "\f153 "; }
.mfr-RawSource:before { content: "\ef64 "; }
.mfr-ReadingMode:before { content: "\f65b "; }
.mfr-RedEye:before { content: "\e5f1 "; }
.mfr-Refresh:before { content: "\e0aa "; }
.mfr-ReleaseGate:before { content: "\f015f "; }
.mfr-Remove:before { content: "\ebcf "; }
.mfr-RemoveLink:before { content: "\e772 "; }
.mfr-Rename:before { content: "\f668 "; }
.mfr-Repair:before { content: "\ee85 "; }
.mfr-Reply:before { content: "\f176 "; }
.mfr-ReplyMirrored:before { content: "\f8e1 "; }
.mfr-Repo:before { content: "\f8cc "; }
.mfr-ReportHacked:before { content: "\eace "; }
.mfr-RevToggleKey:before { content: "\f8dd "; }
.mfr-Rewind:before { content: "\ea1d "; }
.mfr-Ribbon:before { content: "\ea26 "; }
.mfr-Ringer:before { content: "\e014 "; }
.mfr-RingerOff:before { content: "\f117 "; }
.mfr-Rocket:before { content: "\f676 "; }
.mfr-RowsGroup:before { content: "\e6ca "; }
.mfr-Sad:before { content: "\e5d4 "; }
.mfr-Save:before { content: "\ea43 "; }
.mfr-SaveAll:before { content: "\f1d2 "; }
.mfr-SaveAs:before { content: "\ea48 "; }
.mfr-ScheduleEventAction:before { content: "\e23f "; }
.mfr-Script:before { content: "\f1db "; }
.mfr-ScrollUpDown:before { content: "\e32e "; }
.mfr-Search:before { content: "\ea7c "; }
.mfr-SearchAndApps:before { content: "\f773 "; }
.mfr-SecurityGroup:before { content: "\e8ff "; }
.mfr-SemanticZoom:before { content: "\f014b "; }
.mfr-SemiboldWeight:before { content: "\ecd2 "; }
.mfr-Send:before { content: "\ea8e "; }
.mfr-Server:before { content: "\f1dc "; }
.mfr-ServerEnviroment:before { content: "\f1dd "; }
.mfr-ServerProcesses:before { content: "\ee7d "; }
.mfr-Settings:before { content: "\f6a8 "; }
.mfr-SettingsApp:before { content: "\f129 "; }
.mfr-Share:before { content: "\eaa6 "; }
.mfr-Shield:before { content: "\eac3 "; }
.mfr-Shop:before { content: "\f76e "; }
.mfr-ShoppingCart:before { content: "\e2ab "; }
.mfr-ShopServer:before { content: "\f715 "; }
.mfr-ShowResults:before { content: "\e064 "; }
.mfr-Signin:before { content: "\e933 "; }
.mfr-Snowflake:before { content: "\f89b "; }
.mfr-Soccer:before { content: "\eb70 "; }
.mfr-SortDown:before { content: "\f1ac "; }
.mfr-SortLines:before { content: "\f1ad "; }
.mfr-SortUp:before { content: "\f1b3 "; }
.mfr-Sprint:before { content: "\f0160 "; }
.mfr-StackedBarChart:before { content: "\f39b "; }
.mfr-StackedLineChart:before { content: "\e453 "; }
.mfr-Starburst:before { content: "\f283 "; }
.mfr-StatusCircleErrorX:before { content: "\f368 "; }
.mfr-StatusCircleRing:before { content: "\f2ba "; }
.mfr-Stopwatch:before { content: "\ed86 "; }
.mfr-Streaming:before { content: "\f4f0 "; }
.mfr-StreamingOff:before { content: "\e7aa "; }
.mfr-Strikethrough:before { content: "\ed5e "; }
.mfr-SurveyQuestions:before { content: "\e530 "; }
.mfr-Switch:before { content: "\f18d "; }
.mfr-SwitcherStartEnd:before { content: "\f1ab "; }
.mfr-Table:before { content: "\ebf4 "; }
.mfr-Tag:before { content: "\ec70 "; }
.mfr-TeamFavorite:before { content: "\f0f6 "; }
.mfr-Teamwork:before { content: "\f5b7 "; }
.mfr-TestAutoSolid:before { content: "\f0162 "; }
.mfr-TestBeaker:before { content: "\f1d6 "; }
.mfr-TestPlan:before { content: "\f0179 "; }
.mfr-TextDocument:before { content: "\eeed "; }
.mfr-TextField:before { content: "\f7de "; }
.mfr-Tiles:before { content: "\f071 "; }
.mfr-TimeEntry:before { content: "\e559 "; }
.mfr-Trending12:before { content: "\f196 "; }
.mfr-TriangleRight12:before { content: "\edb3 "; }
.mfr-TriggerApproval:before { content: "\e61d "; }
.mfr-TriggerAuto:before { content: "\e626 "; }
.mfr-TripleColumnEdit:before { content: "\e3cf "; }
.mfr-TwoKeys:before { content: "\e745 "; }
.mfr-TypeScriptLanguage:before { content: "\f0d0 "; }
.mfr-Underline:before { content: "\ed67 "; }
.mfr-Undo:before { content: "\e126 "; }
.mfr-Unknown:before { content: "\f63c "; }
.mfr-Unlock:before { content: "\e794 "; }
.mfr-Unpin:before { content: "\e985 "; }
.mfr-Up:before { content: "\f1b4 "; }
.mfr-Upload:before { content: "\e131 "; }
.mfr-UserFollowed:before { content: "\f5c9 "; }
.mfr-UserRemove:before { content: "\f5d0 "; }
.mfr-Variable:before { content: "\e7e1 "; }
.mfr-VerifiedBrand:before { content: "\f283 "; }
.mfr-Video:before { content: "\f84b "; }
.mfr-View:before { content: "\e5f1 "; }
.mfr-ViewAll:before { content: "\e19b "; }
.mfr-ViewDashboard:before { content: "\e41a "; }
.mfr-ViewList:before { content: "\f0191 "; }
.mfr-ViewListGroup:before { content: "\f0193 "; }
.mfr-ViewListTree:before { content: "\f0195 "; }
.mfr-VisualBasicLanguage:before { content: "\f0d2 "; }
.mfr-Waffle:before { content: "\e6c4 "; }
.mfr-WaitlistConfirm:before { content: "\ec9f "; }
.mfr-Warning:before { content: "\f868 "; }
.mfr-Work:before { content: "\e1e9 "; }
.mfr-WorkFlow:before { content: "\e0ae "; }
.mfr-WorkItem:before { content: "\f7f3 "; }
.mfr-World:before { content: "\f3d9 "; }
.mfr-WorldClock:before { content: "\e6b4 "; }
.mfr-ZipFolder:before { content: "\f434 "; }
.mfr-ZoomIn:before { content: "\ee8e "; }
.mfr-ZoomOut:before { content: "\ee8f "; }